<html>

    <body style="font-family:'Courier New', Courier, monospace">

        <link rel="stylesheet" type="text/css" href="styles.css" />

        <div>
            <h1 id="roombanner">Waiting For Player 2</h1>
        </div>

        <div>
            <h2 id="whotoplay">Game Paused</h1>
        </div>

        <div id="wTimerContainer">
            <p id = "toptimer">W Time</p>
            <p id = "bottomtimer">B Time</p>
        </div>

        <div class="container" id="container">
            <div id="roomSetup">
                <h1 class="blink">Welcome to Yulin's Multiplayer Chess Site!</h1>
                <p class="createGameLabel">Create a Game Below:</p>
                <div id="createGame">
                    <p id="sliderDisplay" class="sliderLabel">Time Control: 5 Minute Game (Drag Slider Below to Change)</p>
                    <div class="slidecontainer">
                        <input type="range" min="1" max="10" value="5" class="slider" id="timeSlider">
                    </div>
                    <br><br>
                    <form>
                        <label for="rname" class="inputLabel">Room Name:</label>
                        <input type="text" id="crRname" name="rname" class="input-box">
                        <button onclick="startGame()" type="button" class="roomButton">Go</button>
                    </form>
                    <script>
                        var slider = document.getElementById("timeSlider");
                        let output = document.getElementById("sliderDisplay");
                        
                        slider.oninput = function() {
                            output.innerHTML = "Time Control: " + slider.value + " Minute Game (Drag Slider Below to Change)";
                        }
                    </script>
                </div>
                <br>
                <p class="joinGameLabel">Or Join a Game:</p>
                <div id="joinGame">
                    <form>
                        <label for="rname" class="inputLabel">Room Name:</label>
                        <input type="text" id="jRname" name="rname" class="input-box">
                        <button type="button" onclick="startGame()" class="roomButton">Go</button>
                    </form>
                </div>
            </div>
            <div id="board" class="chessboard"></div>
        </div>
        <div id="restart"></div>
    </body>
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
    <script src="/js/boardSetup.js"></script>
    <script src="script.js"></script>
    <script src="/js/chessLogic.js"></script>
    <script src="/js/clock.js"></script>
</html>